In [8]:
%pip install mysql-connector-python

import mysql.connector as connector

connection=connector.connect(user="root", password="123123",)

print("Connection between MySQL and Python is established.\n")

# Create cursor object to communicate with entire MySQL database
cursor = connection.cursor()

print("Cursor is created to communicate with the MySQL using Python.\n")

# If exist, drop the database first, and create again
try:
    cursor.execute("CREATE DATABASE little_lemon_db")
except:
    cursor.execute("drop database little_lemon_db")
    cursor.execute("CREATE DATABASE little_lemon_db")
print("The database little_lemon is created.\n")   


# Set little_lemon_db database for use 
cursor.execute("USE little_lemon_db")
print("The database little_lemon_db is set for use.\n")

#MenuItems table
create_menuitem_table = """CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

create_menu_table = """CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

create_booking_table = """CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

create_orders_table = """CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

create_employees_table = """CREATE TABLE Employees (
EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
Name VARCHAR (255),
Role VARCHAR (100),
Address VARCHAR (255),
Contact_Number INT,
Email VARCHAR (255),
Annual_Salary VARCHAR (100)
);""" 


# Create MenuItems table
cursor.execute(create_menuitem_table)

# Create Menu table
cursor.execute(create_menu_table)

# Create Bookings table
cursor.execute(create_booking_table)

# Create Orders table
cursor.execute(create_orders_table)

# Create Employees table
cursor.execute(create_employees_table)

#*******************************************************#
# Insert query to populate "MenuItems" table:
#*******************************************************#
insert_menuitems="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10, 'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

#*******************************************************#
# Insert query to populate "Menu" table:
#*******************************************************#
insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

#*******************************************************#
# Insert query to populate "Bookings" table:
#*******************************************************#
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

#*******************************************************#
# Insert query to populate "Orders" table:
#*******************************************************#
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

#*******************************************************#
# Insert query to populate "Employees" table:
#*******************************************************#
insert_employees = """
INSERT INTO Employees (Name, Role, Address, Contact_Number, Email, Annual_Salary)
VALUES
    ('Mario Gollini', 'Manager', '724 Parsley Lane, Old Town, Chicago, IL', 351258074, 'Mario.g@littlelemon.com', '$70,000'),
    ('Adrian Gollini', 'Assistant Manager', '334 Dill Square, Lincoln Park, Chicago, IL', 351474048, 'Adrian.g@littlelemon.com', '$65,000'),
    ('Giorgos Dioudis', 'Head Chef', '879 Sage Street, West Loop, Chicago, IL', 351970582, 'Giorgos.d@littlelemon.com', '$50,000'),
    ('Fatma Kaya', 'Assistant Chef', '132 Bay Lane, Chicago, IL', 351963569, 'Fatma.k@littlelemon.com', '$45,000'),
    ('Elena Salvai', 'Head Waiter', '989 Thyme Square, EdgeWater, Chicago, IL', 351074198, 'Elena.s@littlelemon.com', '$40,000'),
    ('John Millar', 'Receptionist', '245 Dill Square, Lincoln Park, Chicago, IL', 351584508, 'John.m@littlelemon.com', '$35,000');
"""

# Populate MenuItems table
cursor.execute(insert_menuitems)
connection.commit()

# Populate MenuItems table
cursor.execute(insert_menu)
connection.commit()

# Populate Bookings table
cursor.execute(insert_bookings)
connection.commit()

# Populate Orders table
cursor.execute(insert_orders)
connection.commit()

# Populate Employees table
cursor.execute(insert_employees)
connection.commit()

Requirement already satisfied: mysql-connector-python in c:\users\quangluu\desktop\new folder\.venv\lib\site-packages (8.4.0)
Note: you may need to restart the kernel to use updated packages.
Connection between MySQL and Python is established.

Cursor is created to communicate with the MySQL using Python.

The database little_lemon is created.

The database little_lemon_db is set for use.

In [4]:
from mysql.connector import Error
from mysql.connector.pooling import MySQLConnectionPool

try:
  dbconfig={"database":"little_lemon_db", "user":"root", "password":"123123"}

  pool_a = MySQLConnectionPool(pool_name = "ll_pool_a",
                              pool_size = 2,
                            **dbconfig)

  # Get the connection from the connection pool "pool"
  print("Getting a connection from the pool.")
  connection = pool_a.get_connection()
  
  # Creating cursor object
  cursor = connection.cursor()
  
  # Create the stored procedure query as a Python string
  peak_hours_stored_procedure_query = """
  CREATE PROCEDURE IF NOT EXISTS PeakHours ()
  BEGIN
  SELECT HOUR(BookingSlot), COUNT(*)
  FROM Bookings 
  GROUP BY HOUR(BookingSlot)
  ORDER BY COUNT(*) DESC; 
  END
  """
  
  cursor.execute(peak_hours_stored_procedure_query)
  
  cursor.callproc("PeakHours")
  
  results = next(cursor.stored_results())
  
  dataset = results.fetchall()
  
  for data in dataset:
    print(data)
  
  guest_status_stored_procedure_query = """
  CREATE PROCEDURE IF NOT EXISTS GuestStatus ()
  BEGIN
  SELECT CONCAT(b.GuestFirstName," ", b.GuestLastName) AS GuestName, 
  CASE
    WHEN e.Role IN ("Manager", "Assistant Manager") THEN "Ready to pay"
    WHEN e.Role = "Head Chef" THEN "Ready to serve"
    WHEN e.Role = "Assistant Chef"  THEN "Preparing Order"
    WHEN e.Role = "Head Waiter" THEN "Order served"
    ELSE "Unhandled"
  END AS Status
  FROM Employees e 
  LEFT JOIN Bookings b
  ON e.EmployeeID = b.EmployeeID;
  END
  """
  
  cursor.execute(guest_status_stored_procedure_query)
  
  cursor.callproc("GuestStatus")
  
  results = next(cursor.stored_results())
  
  dataset = results.fetchall()
  
  for data in dataset:
    print(data)
    
  # Put the connection back to the pool    
  print("\nReturning the connection back to the pool.")
  connection.close()
  
  print("The connection is placed back into the pool for the next user to connect.")
except Error as e:
    print(f"Error: {e}")

Getting a connection from the pool.
(19, 4)
(18, 2)
(15, 1)
(17, 1)
(20, 1)
('Joakim Iversen', 'Ready to pay')
('Anna Iversen', 'Ready to pay')
('Hiroki Yamane', 'Ready to pay')
('Vanessa McCarthy', 'Ready to serve')
('Marcos Romero', 'Preparing Order')
('Diana Pinto', 'Order served')
('Jay Kon', 'Unhandled')
('Bald Vin', 'Unhandled')
('Anees Java', 'Unhandled')

Returning the connection back to the pool.
The connection is placed back into the pool for the next user to connect.